<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive 3D Orrery</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/orrery.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dat.gui@0.7.7/build/dat.gui.min.js"></script>
</head>

<body>
    <div id="info">Interactive 3D Orrery<br>Drag to rotate, scroll to zoom</div>
    <div id="timeControl">
        <button id="playPause" class="control-button">
            <i class="fas fa-pause"></i>
        </button>
        <button id="reverse" class="control-button">
            <i class="fas fa-backward"></i>
        </button>
        <button id="goToJ2000" class="control-button">J2000</button>
        <button id="goToToday" class="control-button">Today</button>
        <button id="setSpeedOne" class="control-button">1x</button>
        <div id="speedControl">
            <label for="speedSlider">Speed:</label>
            <input type="range" id="speedSlider" min="-1" max="1" step="0.01" value="0">
            <span id="speedValue">1.00</span>
        </div>
        <span id="currentDate"></span>
        <span id="julianDate"></span>
    </div>
    <div id="checkboxes">
        <div class="custom-checkbox">
            <input type="checkbox" id="showOrbits">
            <label for="showOrbits">Show orbits</label>
        </div>
        <div class="custom-checkbox">
            <input type="checkbox" id="showLabels">
            <label for="showLabels">Show labels</label>
        </div>
        <div class="custom-checkbox">
            <input type="checkbox" id="showAxes">
            <label for="showAxes">Show axes</label>
        </div>
        <div class="custom-checkbox">
            <input type="checkbox" id="showEcliptic">
            <label for="showEcliptic">Show ecliptic plane</label>
        </div>
        <div class="custom-checkbox">
            <button id="clearTraces">Clear traces</button>
        </div>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/renderers/CSS2DRenderer.js"></script>
	
    <script src="{{ url_for('static', filename='scripts/planets.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/orrery.js') }}"></script>

</body>
</html>